# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
@EXPLICIT
https://repo.anaconda.com/pkgs/main/linux-64/_libgcc_mutex-0.1-main.conda
https://conda.anaconda.org/conda-forge/linux-64/_py-xgboost-mutex-2.0-cpu_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/_tflow_select-2.3.0-mkl.conda
https://conda.anaconda.org/conda-forge/linux-64/ca-certificates-2019.11.28-hecc5488_0.tar.bz2
https://conda.anaconda.org/omnia/linux-64/fftw3f-3.3.4-2.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/ld_impl_linux-64-2.33.1-h53a641e_7.conda
https://conda.anaconda.org/conda-forge/linux-64/libgfortran-ng-7.3.0-hdf63c60_5.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/libstdcxx-ng-9.1.0-hdf63c60_0.conda
https://conda.anaconda.org/conda-forge/linux-64/pandoc-2.9.2-0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/libgcc-ng-9.1.0-hdf63c60_0.conda
https://conda.anaconda.org/conda-forge/linux-64/blosc-1.17.1-he1b5a44_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/bzip2-1.0.8-h516909a_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/c-ares-1.15.0-h516909a_1001.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/expat-2.2.9-he1b5a44_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/icu-58.2-hf484d3e_1000.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/jpeg-9c-h14c3975_1001.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/libffi-3.2.1-hd88cf55_4.conda
https://conda.anaconda.org/conda-forge/linux-64/libiconv-1.15-h516909a_1005.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libopenblas-0.3.7-h5ec1e0e_6.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libsodium-1.0.17-h516909a_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libuuid-2.32.1-h14c3975_1000.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libxgboost-0.90-he1b5a44_4.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/lz4-c-1.8.3-he1b5a44_1001.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/lzo-2.10-h14c3975_1000.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/ncurses-6.1-he6710b0_1.conda
https://conda.anaconda.org/conda-forge/linux-64/openssl-1.1.1d-h516909a_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pcre-8.44-he1b5a44_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pixman-0.38.0-h516909a_1003.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pthread-stubs-0.4-h14c3975_1001.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-kbproto-1.0.7-h14c3975_1002.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-libice-1.0.10-h516909a_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-libxau-1.0.9-h14c3975_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-libxdmcp-1.1.3-h516909a_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-renderproto-0.11.1-h14c3975_1002.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-xextproto-7.3.0-h14c3975_1002.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-xproto-7.0.31-h14c3975_1007.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/xz-5.2.4-h14c3975_4.conda
https://repo.anaconda.com/pkgs/main/linux-64/zlib-1.2.11-h7b6447c_3.conda
https://conda.anaconda.org/conda-forge/linux-64/gettext-0.19.8.1-hc5be6a0_1002.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/hdf5-1.10.5-nompi_h3c11f04_1104.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libblas-3.8.0-14_openblas.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/libboost-1.67.0-h46d08c1_4.conda
https://repo.anaconda.com/pkgs/main/linux-64/libedit-3.1.20181209-hc058e9b_0.conda
https://conda.anaconda.org/conda-forge/linux-64/libpng-1.6.37-hed695b0_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libprotobuf-3.11.4-h8b12597_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libxcb-1.13-h14c3975_1002.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libxml2-2.9.9-h13577e0_2.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/readline-7.0-h7b6447c_5.conda
https://repo.anaconda.com/pkgs/main/linux-64/tk-8.6.8-hbc83047_0.conda
https://conda.anaconda.org/conda-forge/linux-64/xorg-libsm-1.2.3-h84519dc_1000.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/zeromq-4.3.2-he1b5a44_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/zstd-1.4.4-h3b9ef0a_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/freetype-2.10.0-he983fc9_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libcblas-3.8.0-14_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/liblapack-3.8.0-14_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/libtiff-4.1.0-hc3755c2_3.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/sqlite-3.31.1-h7b6447c_0.conda
https://conda.anaconda.org/conda-forge/linux-64/xorg-libx11-1.6.9-h516909a_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/fontconfig-2.13.1-he4413a7_1000.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/python-3.7.6-h0371630_2.conda
https://conda.anaconda.org/conda-forge/linux-64/xorg-libxext-1.3.4-h516909a_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xorg-libxrender-0.9.10-h516909a_1002.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/astor-0.7.1-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/attrs-19.3.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/backcall-0.1.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/certifi-2019.11.28-py37_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/chardet-3.0.4-py37_1003.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/cython-0.29.15-py37he1b5a44_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/decorator-4.4.1-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/defusedxml-0.6.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/entrypoints-0.3-py37_1000.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/gast-0.3.3-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/glib-2.58.3-py37h6f030ca_1002.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/idna-2.9-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/ipython_genutils-0.2.0-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/kiwisolver-1.1.0-py37hc9558a2_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/markupsafe-1.1.1-py37h516909a_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/mistune-0.8.4-py37h516909a_1000.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/numpy-1.18.1-py37h95a1406_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/olefile-0.46-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pandocfilters-1.4.2-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/parso-0.6.1-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pickleshare-0.7.5-py37_1000.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/prometheus_client-0.7.1-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/ptyprocess-0.6.0-py_1001.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pycparser-2.19-py_2.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pyparsing-2.4.6-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pysocks-1.7.1-py37_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pytz-2019.3-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pyzmq-18.1.1-py37h1768529_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/send2trash-1.5.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/sip-4.19.8-py37hf484d3e_1000.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/six-1.14.0-py37_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/termcolor-1.1.0-py_2.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/testpath-0.4.4-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/tornado-6.0.3-py37h516909a_4.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/wcwidth-0.1.8-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/webencodings-0.5.1-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/werkzeug-1.0.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/wrapt-1.12.0-py37h516909a_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/zipp-2.2.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/absl-py-0.9.0-py37_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/cairo-1.16.0-h18b612c_1001.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/cffi-1.13.2-py37h8022711_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/cycler-0.10.0-py_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/dbus-1.13.6-he372182_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/google-pasta-0.1.8-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/gstreamer-1.14.5-h36ae1b5_2.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/h5py-2.10.0-nompi_py37h513d04c_102.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/importlib_metadata-1.5.0-py37_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/jedi-0.16.0-py37_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/mock-3.0.5-py37_0.tar.bz2
https://conda.anaconda.org/omnia/linux-64/openmm-7.4.1-py37_cuda101_rc_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pexpect-4.8.0-py37_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pillow-5.3.0-py37h00a061d_1000.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/py-boost-1.67.0-py37h04863e7_4.conda
https://conda.anaconda.org/conda-forge/linux-64/pyrsistent-0.15.7-py37h516909a_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/python-dateutil-2.8.1-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/scipy-1.4.1-py37h921218d_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/setuptools-45.2.0-py37_0.conda
https://conda.anaconda.org/conda-forge/linux-64/terminado-0.8.3-py37_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/traitlets-4.3.3-py37_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/bleach-3.1.1-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/cryptography-2.8-py37h72c5cf5_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/grpcio-1.23.0-py37he9ae1f9_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/gst-plugins-base-1.14.5-h0935bb2_2.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/jinja2-2.11.1-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/joblib-0.14.1-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/jsonschema-3.2.0-py37_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/jupyter_core-4.6.3-py37_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/keras-applications-1.0.8-py_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/keras-preprocessing-1.1.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/markdown-3.2.1-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/networkx-2.4-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/numexpr-2.7.1-py37hb3f55d8_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pandas-1.0.1-py37hb3f55d8_0.tar.bz2
https://conda.anaconda.org/omnia/linux-64/pdbfixer-1.6-py37_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/protobuf-3.11.4-py37he1b5a44_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pygments-2.5.2-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/wheel-0.34.2-py37_0.conda
https://conda.anaconda.org/conda-forge/linux-64/jupyter_client-5.3.4-py37_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/nbformat-5.0.4-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/pip-20.0.2-py37_1.conda
https://conda.anaconda.org/conda-forge/noarch/prompt_toolkit-2.0.10-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pyopenssl-19.1.0-py37_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pytables-3.6.1-py37h9f153d1_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/qt-5.9.7-h52cfd70_2.tar.bz2
https://conda.anaconda.org/rdkit/linux-64/rdkit-2019.09.3.0-py37hc20afe1_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/scikit-learn-0.22.1-py37hcdab131_1.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/tensorboard-1.14.0-py37_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/tensorflow-base-1.14.0-mkl_py37h7ce6ba3_0.conda
https://conda.anaconda.org/conda-forge/linux-64/tensorflow-estimator-1.14.0-py37h5ca1d4c_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ipython-7.12.0-py37h5ca1d4c_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/mdtraj-1.9.3-py37h00575c5_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/nbconvert-5.6.1-py37_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/py-xgboost-0.90-py37_4.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/pyqt-5.9.2-py37hcca6a23_4.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/tensorflow-1.14.0-mkl_py37h45c423b_0.conda
https://conda.anaconda.org/conda-forge/linux-64/urllib3-1.25.7-py37_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/ipykernel-5.1.4-py37h5ca1d4c_0.tar.bz2
https://repo.anaconda.com/pkgs/main/linux-64/matplotlib-3.1.2-py37h4fdacc2_0.conda
https://conda.anaconda.org/conda-forge/linux-64/requests-2.23.0-py37_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/xgboost-0.90-py37he1b5a44_4.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/jupyter_console-6.0.0-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/notebook-6.0.3-py37_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/qtconsole-4.6.0-py_0.tar.bz2
https://conda.anaconda.org/deepchem/noarch/simdna-0.4.2-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/linux-64/widgetsnbextension-3.5.1-py37_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/ipywidgets-7.5.1-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/jupyter-1.0.0-py_2.tar.bz2
https://conda.anaconda.org/deepchem/linux-64/deepchem-2.3.0-py37_0.tar.bz2
